<?xml version="1.0"?>
<launch>
  <arg name="id" default="2" />

  <group ns="vehicle$(arg id)">
    <include file="$(find scout_base)/launch/scout_base.launch"/>
    <include file="$(find rslidar_sdk)/launch/start.launch">
      <arg name="id" value="$(arg id)"/>
    </include>
    <include file="$(find novatel_oem7_driver)/launch/start_location_novatel_all.launch" />
  </group>

</launch>
